In [1]:
import mysql.connector as sql

In [4]:
connection = sql.connect(
    host="localhost",
    user="root",
    password="xxxx"
# database = "base1"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001496A0C1F10>

In [5]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE base1")

In [6]:
cursor.execute('SHOW DATABASES')

In [7]:
for x in cursor:
    print(x)

('base1',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [8]:
cursor.execute('USE base1')

In [9]:
cursor.execute("CREATE TABLE student (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(50))")

In [14]:
query = "INSERT INTO student (name) VALUES (%s)"
value = ["JOHN"]
cursor.execute(query,value)

In [15]:
cursor.execute("SELECT * FROM student")

In [16]:
cursor.fetchall()

[(1, 'JOHN')]

In [ ]:
cursor.execute("SELECT * FROM student WHERE name = 'JOHN' ")